
@{
    ViewBag.Title = "createnewcar";
}

<form method="post">
    num: <input type="number" name="Num" id="Num" /> <br />
    Model: <input type="text" name="Model" id="Model" /><br />
    Manfacture: <input type="text" name="Manfacture" id="Manfacture" /><br />
    Color: <input type="text" name="Color" id="Color" /><br />
    <br />
    <input type="submit" value="create new car" />
</form>

