@using Task01.Models;
@model IEnumerable<CarModel>  
           
@{
    ViewBag.Title = "getall";
}

<a href="/car/createnewcar"> Create a car</a>
<table>
    <thead>
        <tr>
            <th>Num</th>
            <th>Color</th>
            <th>Model</th>
            <th>Manfacture</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model )
        {
          <tr>
              <td>@item.Num</td>
              <td>@item.Color</td>
              <td>@item.Model</td>
              <td>@item.Manfacture</td>
              <td><a href="/car/cardetails?carNum=@item.Num"> DETAILS</a></td>
              <td><a href="/car/updatecar?carNum=@item.Num"> UPDATE</a></td>
              <td><a href="/car/deletecar?carNum=@item.Num">DELETE</a> </td>

          </tr>
        }
        

        <tr>
        </tr>
    </tbody>
</table>

