@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form method="post">
            Name<input type="text" name="Name" />
            <br />
            Birthday <input type="datetime-local" name="Birthday" />
            <br />
            <input type="checkbox" name="isGraduated" /> is graduated
            <br />
            <input type="submit" value="Go" />
        </form>
    @if(IsPost && !Request["Name"].IsEmpty() && !Request["Birthday"].IsEmpty())
     {
     <div>
         <p>Hello @Request["Name"]</p>
         <br />
         <p> your bithday is @Request["Birthday"]</p>
         <br />
         @if (!Request["isGraduated"].IsEmpty())
         {
     
              <p>YESSS, Am Graduated</p>
         }
         else
         {
             <p>NOOO, Am not gaduated</p>
         }
     </div>
     }
    </div>
</body>
</html>
