@model Task01.Models.ImageModel
@{
    ViewBag.Title = "preview";
}

<form method="post">
    Id: <input type="number" name="Id" id="Id" value="@Model.Id" /> <br />
    Name: <input type="text" name="Name" id="Name" value="@Model.Name"/><br />
    Image: <br />
    <img src="@Model.ImagePath" alt="IMG" width="300" height="200"/>
</form>


