@model HandleErrorInfo
@{
    ViewBag.Title = "FinanceErrorPage";
}

<h2>FinanceErrorPage</h2>
<h3 style="color:red">@Model.Exception.HelpLink in controller:@(Model.ControllerName) and action @(Model.ActionName)</h3>


