
<!DOCTYPE html>
<html>
<body>

    <h1>My First Heading</h1>
    <p>My first paragraph.</p>

<h1>Create</h1>

<h4>Car</h4>
<hr />





<form method="post">
    <label>Num</label>
    <input type="number" name="Num" class="form-control" />
    <label>Color</label>
    <input type="text" name="Color" class="form-control" />
    <label>Model</label>
    <input type="text" name="Model" class="form-control" />
    <label>Manfacture</label>
    <input type="text" name="Manfacture" class="form-control" />
    <input type="submit" value="Create" class="btn btn-primary" />


</form>
<div>
    <a href="/cars/Index">Back to List</a>
</div>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync( "_ValidationScriptsPartial" );
    }
}
