@model MVC_Day7.Models.Car
@{
    ViewData["Title"] = "Edit";
}

@if( Model != null )
{
    <form method="post">
        <input type="hidden" name="Num" id="Num" value="@Model.Num" /> <br />
        Model: <input type="text" name="Model" value="@Model.Model" /><br />
        Manfacture: <input type="text" name="Manfacture" value="@Model.Manfacture" /><br />
        Color: <input type="text" name="Color" value="@Model.Color" /><br />
        <br />
        <input type="submit" value="update the car" />
    </form>
}
else
{
    <h1 style="color:red">No Car found</h1>
}

